@media (max-width: 800px) {
    .computer-bg,
    header nav {
        display: none;
    }

    .mobile-bg,
    header .burger {
        display: block;
    }

    .gallery {
        justify-content: center;
    }

    .course-header {
        text-align: center;
    }
}
