/*------------------------------ORDINATEUR-----------------------------------*/
@media (max-width: 1350px) {
    .gallery {
        justify-content: center;
        grid-template-columns: auto auto auto;
        column-gap: 5%;
        row-gap: 5%;
    }

    .course-header {
        text-align: center;
    }

    /* .--formation {
        align-items: center;
    }

    .--formation * {
        width: 100%;
    } */
}
/*------------------------------TABLETTE-----------------------------------*/
@media (max-width: 1200px) {
    .gallery {
        justify-content: center;
        grid-template-columns: auto auto;
        column-gap: 5%;
        row-gap: 2.5%;
    }

    .course-header {
        text-align: center;
    }

    .advantages {
        flex-direction: column;
    }

    .course-advantages {
        align-items: center;
        flex-direction: column;
    }

    .progress,
    .create {
        flex-direction: column;
        align-items: center;
        align-self: center;
        width: 75%;
    }
    .progress h2,
    .create h2 {
        text-align: center;
    }

    .mobile-h2 {
        display: block;
        text-align: center;
        align-self: center;
        justify-self: center;
    }

    .progress li, .create li {
        margin-bottom: 10%;
    }

    .computer-h2 {
        display: none;
    }

    .--formation img {
        /* width: 80%; */
        align-self: center;
    }

    .about {
        display: block;
    }

    .big-logo {
        padding: 20% var(--space);
    }
}
/*-----------------------------MOBILE------------------------------------*/

@media (max-width: 1000px) {
    .computer-bg,
    header nav {
        display: none;
    }

    .mobile-bg,
    header .burger {
        display: block;
        background-size: cover;
        background-position: center center;
        /* aspect-ratio: 1/1; */
    }
    /*-----------------------------------------------------------------------------------------------------------------------*/

    .gallery {
        justify-content: center;
        grid-template-columns: auto;
        row-gap: 0px;
    }

    .course-header {
        text-align: center;
    }

    .popular-price-tag {
        right: 10%;
    }

    .recent-price-tag {
        right: 10%;
    }
    /*-----------------------------------------------------------------------------------------------------------------------*/
    .user {
        text-align: center;
        align-content: center;
        justify-self: center;
        width: 70%;
        margin: 2.5% 5%;
    }

    .user p {
        justify-self: right;
        margin-top: 5%;
    }

    .user .rating {
        justify-content: center;
    }
    /*-----------------------------------------------------------------------------------------------------------------------*/
    .big-logo {
        padding: 20% 0%;
        width: 100%;
        text-align: center;
    }

    .big-logo img {
        width: 90%;
    }
    /*-----------------------------------------------------------------------------------------------------------------------*/
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact * {
        margin:  0px;
        margin-top: 5%;
    }

    .nom, .email {
        width: 80vw;
    }


    input[type="submit"] {
        margin-bottom: 10%;
    }
    /*-----------------------------------------------------------------------------------------------------------------------*/

    .upper-foot {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 50px;
        padding-bottom: 50px;
    }

    .upper-foot * {
        align-items: center;
        text-align: center;
        margin: 0px;
    }

    .coords ul {
        display: block;
        justify-self: center;
    }

    .coords ul * {
        text-align: start;
        padding-bottom: 10px;
    }

    .middle-line,
    .lower-foot,
    .foot-button {
        display: none;
    }
}
