.star {
    width: 2%;
    aspect-ratio: 1;
    background-color: #f8ca00;
    clip-path: polygon(
        50% 0,
        calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
        calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
        calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
        calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
    );
}

.star-unchecked {
    width: 2%;
    aspect-ratio: 1;
    background-color: #f8ca00;
    opacity: 30%;
    clip-path: polygon(
        50% 0,
        calc(50% * (1 + sin(0.4turn))) calc(50% * (1 - cos(0.4turn))),
        calc(50% * (1 - sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
        calc(50% * (1 + sin(0.2turn))) calc(50% * (1 - cos(0.2turn))),
        calc(50% * (1 - sin(0.4turn))) calc(50% * (1 - cos(0.4turn)))
    );
}
