.star {
    width: 1.49999999rem;
    border-radius: 10vh;
    max-height: 25px;
    margin-bottom: 0px;
    /*background-image: url("html-css/resources/assets/images/star.png");
    background-repeat: no-repeat; */
}

.star-unchecked {
    width: 1.49999999rem;
    max-height: 25px;
    opacity: 30%;
    /* background-image: url("/html-css/resources/assets/images/star.svg");
    background-repeat: no-repeat; */
}
