@import url(global-var.css);

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border: 1px gold solid;
}

/* section {
    border: 1px gold solid;
} */

button {
    cursor: pointer;
}

body {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
}

.break {
    width: 100%;
}

/*-------HEADER-----------------------------------------------------------------------------------------------------*/
header {
    background-color: var(--dark);
    height: 80px;
    color: white;
    display: flex;
}

header img {
    margin: auto var(--space);
    width: 84px;
    height: 31px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header p {
    font-size: 15px;
}

header #nav-bar {
    background-color: transparent;
    border-radius: 5px;
    border: 1px white solid;
    width: 30%;
    height: 50%;
}

header .nav-button,
footer .foot-button {
    width: 130px;
    height: 40px;
    border-radius: 7px;
}

#connexion {
    background-color: white;
}

#inscription {
    background-color: var(--green);
    margin-right: 5%;
}

/*-------BANNER--------------------------------------------------------------------------------*/
.banner {
    position: relative;
    background-image: linear-gradient(to right, var(--green), var(--grad));
    /*background-image: url("html-css/ressources/assets/images/banner-bg.png");*/
}

.banner img {
    opacity: 20%;
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.banner-text h1 {
    font-weight: 800;
    color: var(--dark);
}

.banner-text button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 5px;
}

.computer-bg {
    display: block;
}
.mobile-bg {
    display: none;
}
/*-----COURSES--------------------------------------------------------------------------------------------------------------*/
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: 0% var(--space);
}

.popular-section {
    text-align: center;
    color: var(--dark);
}

.recent-section {
    text-align: center;
    background-color: var(--dark);
    color: white;
}

.course-header {
    width: 90%;
    padding: var(--space) 0%;
    text-align: left;
    justify-self: center;
    font-size: 36px;
}

.black-button {
    background-color: var(--dark);
    color: white;
}
.white-button {
    background-color: white;
    color: var(--dark);
}

.more-course {
    width: 225px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 4%;
}

.courses {
    position: relative;
    width: 305px;
    height: 362px;
    /* transform: translate(-5%); */
    /* scale: 100%; */
    /* justify-self: left; */
}

.courses img {
    justify-self: center;
    text-align: center;
    align-self: center;
    height: 206px;
}

.rating {
    display: flex;
    flex-direction: row;
}

/*-------AVIS--------------------------------------------------------------------------------------------------*/
.avis {
    padding: 5% 0%;
}
.avis h1 {
    text-align: center;
}
.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: 5%;
}

.user {
    width: 100%;
    margin-inline: 2.5%;
}

.user p {
    font-size: 13px;
}
.user img {
    border-radius: 10vh;
}

/*-------FORMATION---------------------------------------------------------------------------------------------------*/

.--formation .img {
    margin: 3.5% var(--space);
    scale: 0.9;
}

.--formation h1 {
    width: 50%;
}
/*-------AVANTAGES--------------------------------------------------------------------------------------------------*/

.advantages {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.progress {
    margin: 3.5% var(--space);
    word-spacing: 20px;
}

.progress h1 {
    width: 100%;
    padding-bottom: 10%;
    text-align: left;
}

/*------CREATE COURSE--------------------------------------------------------------------------------------------------*/
.course-advantages {
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;
}

.create {
    margin: 3.5% var(--space);
    word-spacing: 20px;
}

.create h1 {
    width: 100%;
    padding-bottom: 10%;
    text-align: left;
}

/*-------ABOUT--------------------------------------------------------------------------------------------------*/
.about {
    background-color: var(--dark);
    display: flex;
    flex-wrap: wrap;
}
.about-text {
    width: 50%;
    background-color: #f5f5f5;
}
.about .big-logo {
    align-self: center;
    text-align: center;
    height: 100%;
    width: 50%;
}

/*------FORM---------------------------------------------------------------------------------------------------*/
.contact {
    align-items: center;
    margin: auto;
}

.form {
    background-color: var(--dark);
}

/*-----FOOTER-------------------------------------------------------------------------------------------------*/
.upper-grad {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    width: 100%;
    height: 1vh;
}

footer {
    background-color: var(--dark);
    text-align: left;
    color: white;
}

.upper-foot {
    display: flex;
    flex-wrap: wrap;

    gap: 15vw;
    align-items: center;
    width: 100%;
}

.lower-foot {
    display: inline;
    gap: 40vw;
}
.middle-line {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 0.5vh;
    width: 80%;
    justify-self: center;
}

footer .lower-foot {
}
