@import url(global-var.css);

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    /* border: 1px gold solid; */
}

/* section {
    border: 1px gold solid;
} */

button {
    cursor: pointer;
}

body {
    width: 100%;
    font-family: "Montserrat";
    font-style: normal;
}

input, textarea {
    color: white;
    font-size: 15px;
    text-indent: 10px;
}

.break {
    width: 100%;
}
/*-------HEADER-----------------------------------------------------------------------------------------------------*/
header {
    background-color: var(--dark);
    height: 80px;
    color: white;
    display: flex;
}

header img {
    margin: auto var(--space);
    width: 84px;
    height: 31px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
 bvc
header p {
    font-size: 15px;
}

.nav-buttons {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}

header .nav-button {
    width: 130px;
    height: 40px;
    border-radius: 7px;
}

#nav-bar {
    background-color: transparent;
    border-radius: 5px;
    border: 1px white solid;
    width: 36%;
    height: 50%;
    position: relative;
}
header nav::before {
    content: url("/html-css/resources/assets/images/loupe.svg");
    position: absolute;
    right: 35%;
}

#connexion, #foot-connexion {
    background-color: white;
}

#inscription, #foot-inscription {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    margin-right: 5%;
}

.burger {
    position: absolute;
    top: 1.5rem;
    right: 0%;
    scale: 0.7;
    display: none;
}

/*-------BANNER--------------------------------------------------------------------------------*/
.banner {
    position: relative;
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 450px;
    overflow: hidden;
}

.banner img {
    opacity: 20%;
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.banner-text h1 {
    font-weight: 800;
    color: var(--dark);
}

.banner-text button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: white;
    padding: 1vh 1vw;
    border-radius: 5px;
}

.computer-bg {
    background-image: url("../html-css/resources/assets/images/bg-header.png");
    opacity: 20%;
    z-index: 1;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.mobile-bg {
    background-image: url("../html-css/resources/assets/images/banner-mobile.png");
    opacity: 20%;
    z-index: 1;
    height: 100%;
    background-repeat: no-repeat;
    display: none;
}

/*-----COURSES--------------------------------------------------------------------------------------------------------------*/
.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    text-align: left;
    width: 90%;
    margin: 0% var(--space);
    column-gap: 2.5%;
}

.popular-section {
    text-align: center;
    color: var(--dark);
}

.recent-section {
    text-align: center;
    background-color: var(--dark);
    color: white;
}
/*-------*/
.popular-price-tag {
    display: flex;
    background-color: var(--dark);
    color: white;
    position: absolute;
    border-radius: 50px;
    padding: 1.5% 4%;
    bottom: 38%;
    right: 5%;
    align-items: center;
}
.popular-price-tag h5 {
    font-size: 20px;
    margin-right: 5px;
    font-style: bold;
}
.popular-price-tag p {
    font-size: 10px;
    text-decoration: line-through;
    font-weight: 300;
}

.recent-price-tag {
    display: flex;
    background-color: white;
    color: var(--dark);
    position: absolute;
    border-radius: 50px;
    padding: 1.5% 4%;
    bottom: 38%;
    right: 5%;
    align-items: center;
}
.recent-price-tag h5 {
    font-size: 20px;
    margin-right: 5px;
    font-style: bold;
}
.recent-price-tag p {
    font-size: 10px;
    text-decoration: line-through;
    font-weight: 300;
}
/*-------*/
.course-header {
    width: 90%;
    padding: var(--space) 0%;
    text-align: left;
    justify-self: center;
    font-size: 36px;
}

.black-button {
    background-color: var(--dark);
    color: white;
}
.white-button {
    background-color: white;
    color: var(--dark);
}

.more-course {
    width: 225px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 4%;
}

.courses {
    position: relative;
    width: 305px;
    height: 362px;
}

.courses img {
    justify-self: center;
    text-align: center;
    align-self: center;
    height: 206px;
}

.courses h3 {
    font-weight: 750;
    font-size: 20px;
    margin-top: 5%;
}

.courses p, .courses h3 {
    width: 305px;
}

.courses div p {
    width: auto;
}

.rating {
    display: flex;
    flex-direction: row;
    width: 305px;
    max-height: 25px;
}

/*-------AVIS--------------------------------------------------------------------------------------------------*/
.avis {
    padding: 5% 0%;
}
.avis h2 {
    text-align: center;
}
.reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-inline: 0%;
}

.user {
    width: 41%;
    margin-inline: 2.5%;
}

.user p {
    font-size: 13px;
}
.user img {
    border-radius: 10vh;
}

/*-------FORMATION---------------------------------------------------------------------------------------------------*/

.--formation img {
    margin: 3.5% var(--space);
    height: auto;
}

.--formation h2 {
    width: 100%;
}

/*-------AVANTAGES--------------------------------------------------------------------------------------------------*/

.advantages {
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.progress {
    width: 40%;
    height: 80%;
    padding-inline: 3%;
    margin-top: 3.5%;
}

.progress ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.progress-img {
    min-width: 327px;
    width: 40%;
}

.progress ul * {
    /* position: relative; */
    display: flex;
    flex-direction: row;
}

.progress ul img {
    margin: 0px;
    margin-right: 5%;
    align-self: baseline;
    /* position: absolute;
    left: -18%;
    top: -25px; */
}

.progress h2 {
    padding-bottom: 10%;
    text-align: start;
}

/*------CREATE COURSE--------------------------------------------------------------------------------------------------*/
.course-advantages {
    background-color: var(--green);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.create {
    width: 30%;
    height: 80%;
    padding-right: 5%;
    margin-top: 3.5%;
}

.create ul {
    display: flex;
    flex-direction: column;
}

.create-img {
    min-width: 324px;
    width: 40%;
}

.create ul * {
    display: flex;
    flex-direction: row;
}

.create ul img {
    margin: 0px;
    margin-right: 7.5%;
    align-self: baseline;
}

.create li {
    margin-top: 3%;
}

.computer-h2 {
    padding-bottom: 10%;
    text-align: left;
}

.mobile-h2 {
    width: 80%;
    padding-bottom: 10%;
    text-align: center;
    display: none;
}

/*-------ABOUT--------------------------------------------------------------------------------------------------*/
.about {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--dark);
    align-items: center;
}
.about-text {
    justify-self: center;
    padding: 20% var(--space);
    background-color: #f5f5f5;
}
.big-logo {
    align-content: center;
    justify-self: center;
    height: 100%;

    background-color: var(--dark);
}

/*------FORM---------------------------------------------------------------------------------------------------*/
.contact {
    justify-items: center;
}

.contact h2 {
    margin: 2.5% 0% 1.5% 0%;
}

.weird-line {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 0.2vh;
    width: 20%;
    margin: 0% 0% 1.5% 0%;
}

.form {
    text-align: center;
    width: 95%;
}

.form-input {
    background-color: var(--dark);
    align-content: start;
}

.nom {
    min-width: 356px;
    /* width: clamp(356px, 37.5vw, 600px); */
    width: 35.7vw;
    height: 45px;
    /* margin-right: clamp(48px, 5vw, 68px); */
    margin-right: 4.04vw;
}

.email {
    min-width: 356px;
    /* width: clamp(356px, 37.5vw, 600px); */
    width: 35.7vw;
    height: 45px;
    /* margin-left: clamp(48px, 5vw, 68px); */
    margin-left: 4.04vw;
}

.msg {
    min-width: 356px;
    /* width: clamp(356px, 80vw, 1336px); */
    width: 80vw;
    height: clamp(195px, 5vh, 185px);
    margin-top: 5%;
}

input[type="submit"] {
    width: clamp(350px, 5rem, 356px);
    height: 45px;
    background-color: var(--green);
    margin: 5% 0%;
    color: black;
}
/*-----FOOTER-------------------------------------------------------------------------------------------------*/
.upper-grad {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 18px;
    width: 100%;
}

footer {
    background-color: var(--dark);
    text-align: left;
    color: white;
}

.upper-foot {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-top: 5%;
    width: 91%;
}

.upper-foot h4 {
    padding-bottom: 20px;
}

.foot-logo {
    align-self: center;
    justify-self: center;
    width: 243px;
    height: 87px;
    margin-right: 20%;
    margin-bottom: 5%;
}

.mentions {
    margin-right: 5%;
}

.mentions ul {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.coords {
    margin-right: 13%;
}

.coords ul * {
    display: flex;
    flex-direction: row;
}

.coords ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.coords ul * img {
    padding: 0px;
    margin-right: 20px;
    color: white;
    position: relative;
}

.localisation {
    position: absolute;
    bottom: 15px;
}

.foot-buttons {
    width: 9%;
    margin-bottom: 5%;
}

.foot-button {
    width: 130px;
    height: 40px;
    border-radius: 7px;
}

.lower-foot {
    display: flex;
    gap: 70%;
    margin: 0% 5%;
    margin-top: 2.5%;
}
.middle-line {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 2px;
    width: 90%;
    justify-self: center;
}

.socials,
.socials ul {
    display: flex;
    flex-direction: row;
}

.socials {
    margin-bottom: 5%;
    align-items: center;
}

.socials p {
    margin-right: 0.5rem;
}
.socials ul {
    column-gap: 15%;
}
