body {
    width: 100%;
    max-height: 75%;
}

header {
    background-color: rgb(21, 34, 55, 100%);
    width: 100%;
    min-width: 393px;
    height: 80px;
    display: block;
}
header nav {
}
header h4 {
    width: 110px;
    height: 10px;
    color: white;
}
header .nav-button {
    width: 130px;
    height: 40px;
}

header #nav-bar {
    width: 477px;
    height: 40px;
}

.banner {
}

.banner img {
    opacity: 50%;
}
