@import url(global-var.css);

* {
    margin: 0;
}

body {
    width: 100%;
    margin: 0px;
    font-family: "Montserrat";
    font-style: medium;
}

/*-------HEADER-------*/
header {
    background-color: var(--dark);
    width: 100%;
    height: 10%;
    color: white;
    display: inline-block;
}

header img {
    height: 80%;
}

header nav {
    width: 80vw;
    display: inline;
}

header #nav-bar {
    background-color: transparent;
    border-radius: 8px;
    border: 2px white solid;
}

header .nav-button,
footer .foot-button {
    width: 13vh;
    height: 40px;
    border-radius: 7px;
}

#connexion {
    background-color: white;
}

#inscription {
    background-color: var(--green);
}

header #nav-bar {
    width: 477px;
    height: 40px;
}

/*-------BANNER------*/
.banner {
    position: relative;
    background-image: linear-gradient(to right, var(--green), var(--grad));
}

.banner img {
    opacity: 50%;
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.banner-text h1 {
    color: var(--dark);
}
/*-----COURSES------*/
.recent-course {
    display: flex;
    background-color: var(--dark);
}

.courses {
    margin: 50px;
}

/*------ABOUT------*/
.about img {
    background-color: var(--dark);
}

/*------FORM-------*/
.contact {
    align-items: center;
    margin: auto;
}

.form {
    background-color: var(--dark);
}

/*-----FOOTER-----*/
.upper-grad {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    width: 100vw;
    margin: 0;
    height: 1vh;
}

footer {
    background-color: var(--dark);
    text-align: left;
    color: white;
}

footer .upper-foot {
    display: inline-block;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.middle-line {
    background-image: linear-gradient(to right, var(--green), var(--grad));
    height: 0.5vh;
    width: 80vw;
    justify-self: center;
}

footer .lower-foot {
}
