body {
    width: 100%;
    margin: 0px;
    font-family: "Montserrat";
    font-style: medium;
}
header {
    background-color: #152237;
    width: 100%;
    min-width: 393px;
    height: 80px;
}

header h4 {
    width: 110px;
    height: 10px;
    color: white;
}
header .nav-button,
footer .foot-button {
    width: 130px;
    height: 40px;
    border-radius: 7px;
}

#connexion {
    background-color: white;
}

#inscription {
    background-color: #44dd8a;
}
header #nav-bar {
    width: 477px;
    height: 40px;
}

.banner {
    background-image: linear-gradient(to right, #44dd8a, #15b7e2);
}

.banner img {
    opacity: 50%;
    width: 100%;
    height: auto;
}

.banner-text {
    width: 100%;
    font-size: 80%;
    top: 25%;
    text-align: center;
    position: absolute;
}

.banner-text h1 {
    color: #152237;
}

.recent-course {
    background-color: #152237;
}

.about img {
    background-color: #152237;
}
.contact {
    align-items: center;
    margin: auto;
}

.form {
    background-color: #152237;
}

footer {
    background-color: #152237;
    display: flex;
    color: white;
}

footer div {
    padding: 5px;
}
